/* Stylesheet for overriding bootstrap.min.css where necessary */

/* Color schemes */

.bg-clr-red {
    background-color: #e51c237d;
    color:#fafafa;
}

.bg-clr-orange {
    background-color:#ffd400bf;
    color: #000;
}

.bg-clr-white {
    background-color: #fafafacf;
}

.bg-clr-dark {
    background-color: #222222d4;
}

/* Code adapted from https://stackoverflow.com/a/43058483 to fix scaling issues on iOS devices */
body {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

body:after {
    content: "";
    position: fixed;
    /* stretch a fixed position to the whole screen */
    top: 0;
    height: 100vh;
    /* fix for mobile browser address bar appearing disappearing */
    left: 0;
    right: 0;
    z-index: -2;
    /* needed to keep in the background */
    background: url("../images/citybackground.jpg") center center;
    background-size: cover;
}

/* Navigation bar styling */

.navbar {
    padding: 5px;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-brand-text {
    vertical-align: middle;
}

.nav-item {
    font-size: 16px;
}

.opaque-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index:-1;
    height: 100%;
    width: 100%;
    background-color: rgba(72,72,72, 0.65);
}

.jumbotron {
    margin: 0px;
}

.jumbotron-heading {
    color: #ff6363;
    font-weight: bold;
    margin-bottom: 30px;
}

.jumbotron-text {
    margin: 30px;
    font-size: 18px;
    color: #ffffff;
}

/* Map area */

.col-form-label, .form-control {
    color:#000;
}

#city:focus, #attractionSelector:focus {
    -webkit-box-shadow: inset 0 -2px 0 #fafafa;
            box-shadow: inset 0 -2px 0 #fafafa;
}

#map {
    height: 60vh !important;
}

/* Table styling */

.table th {
    border: 0px;
}

.table th, .table td {
    padding: 6px 3px 6px 3px;
    background: #fafafa00;
    color: #fafafa;
}

.table-light {
     background: #fafafa00;
}

.table-link {
    color: #fafafa;
    font-weight: bolder;
    font-size: 16px;
}

.table-link:hover {
    color: #fafafa;
    font-weight: bolder;
    text-decoration: none;
}

.column-padding {
    padding: 15px;
}

.top-pad {
    padding-top: 100px;
}

.border-round {
    border-radius: 15px;
}

/* Footer styling */

.footer-icon {
    font-size: 24px;
    padding: 5px;
    color: #a90006;
    border: 4px solid #ffd40000;
    border-radius: 100%;
    -webkit-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}

/* Media queries */

@media (min-width:768px) {

    /* Navbar styling */
    .navbar {
        padding: 10px;
    }
    
    .navbar-brand img {
        max-height: 60px;
    }
    
    .top-pad {
        padding-top:150px;
    }
    
    /*Footer styling*/
    .footer-icon:hover {
        border: 4px solid #a90006;
        border-radius: 100%;
    }
}