/* Color schemes */

.bg-clr-red {
    background-color: #e51c23;
}

.bg-clr-orange {
    background-color:#ffd400;
}

/* Navigation bar styling, override bootstrap.min.css where necessary */

.navbar {
    padding: 5px;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-brand-text {
    vertical-align: middle;
}

/* Footer styling */

.footer-column {
    padding-top: 15px;
}

.footer-icon {
    font-size: 24px;
    padding: 5px;
    color: #e51c23;
    border: 4px solid #ffd400;
    border-radius: 100%;
    transition: 0.5s ease-in-out;
}

/* Media queries */

@media (min-width:768px) {

    /* Navbar styling */
    .navbar {
        padding: 15px;
    }
    
    .navbar-brand img {
        max-height: 50px;
    }
    
    /*Footer styling*/
    .footer-icon:hover {
        border: 4px solid #e51c23;
        border-radius: 100%;
    }
    
}