/* Color scheme */

.bg-clr-red {
    background-color: #e51c23;
}

.bg-clr-orange {
    background-color:#ffd400;
}

/* Navigation bar styling, override bootstrap.min.css where necessary */

.navbar {
    padding: 5px;
}

.navbar-brand img {
    max-height: 40px;
}

.navbar-brand-text {
    vertical-align: middle;
}

/* Footer formatting */

.footer-column {
    padding-top: 15px;
}

.footer-icon {
    font-size: 24px;
    padding: 0px 15px 0px 15px;
}

/* Media queries */

@media (min-width:768px) {
    .navbar {
        padding: 15px;
    }
    
    .navbar-brand img {
        max-height: 50px;
    }
}